PORT=3000
NODE_ENV=development
API_KEY=saralcollect_secret_key_2026

# PostgreSQL Configuration
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=root
PGDATABASE=saralcollect_db
DATABASE_URL=postgresql://postgres:root@localhost:5432/saralcollect_db
